/**variable used*/
$off-white: #F7F7F7;

@import "_partials/_vars";
@import "_partials/_fonts";

* {
  margin: 0;
  box-sizing: border-box;
}
.html, body {
  font-weight: lighter;
  @include font-ubuntu;
}
a {
  @include font-ubuntu;
}
.main-content {
  margin-left: 300px;
  padding-top: 50px;
}

.side-bar {
  z-index: 3;
  width: 300px;
  background: $off-white;
  -webkit-box-shadow: 2px 0 10px rgba(#000, .3);
  -moz-box-shadow: 2px 0 10px rgba(#000, .3);
  box-shadow: 2px 0 10px rgba(#000, .3);
  .copyright {
    @include font-ubuntu;
    padding: 4px;
    text-align: center;
    font-size: 0.8em;
    color: $theme-white;
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    background: $action-red;
    width: 100%;
  }
}

.profile-menu {
  padding: 2em;
  .user-name {
    text-align: center;
    display: block;
    clear: both;
    padding-top: 15px;
    color: rgb(200, 40, 20);
    font-size: 17px;
  }
  img {
    width: 150px;
    height: 150px;
  }
  ul {
    list-style: none;
    margin: 2em 0;
    padding: 0;
  }
  li a {
    padding: 13px;
    margin-bottom: 2px;
    background: #f7f7f7;
    text-align: left;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #999;
    &:hover {
      background: rgb(10, 32, 50);
      text-decoration: none;
      color: #ffffff;
      -webkit-transition: ease 0.5s;
      -moz-transition: ease 0.5s;
      -ms-transition: ease 0.5s;
      -o-transition: ease 0.5s;
      transition: ease 0.5s;
    }
  }
}

.dashboard-head {
  h3 {
    @include font-Montserrat;
    text-shadow: rgba(255,255,255,.3) 2px 2px 4px;
    font-size: 33px;
    color: rgb(20, 30, 40);
    font-weight: 400;
  }
}

.gallery-show {
  width: auto;
  margin-bottom: 40px;
  img {
    width: 100%;
    height: 100%;
    background-size: contain;
  }
  h3 {
    @include font-ubuntu;
    font-size: 25px;
    padding: 0;
    color: $action-red;
    font-weight: 400;
  }
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    margin: 5px;
    float: left;
    height: 250px;
    position: relative;
    width: 30.3%;
    box-shadow: 2px 0 5px #999;
  }
}

.add-art {
  padding: 15px;
  h3 {
    @include font-ubuntu;
    text-align: center;
    text-transform: uppercase;
    color: $theme-deepblue;
    font-size: 2em;
    font-weight: 400;
  }
  .drop-text {
    margin-top: 20px;
    color: grey;
    font-size: .99em;
    text-align: center;
  }
  .drag-drop {
    margin-top: 10px;
    background: $theme-white;
    border: 1px dashed rgba(0,0,0,.4);
    height: 150px;
    width: 100%;
  }
  input[type=file] {
    display: inline-block;
    border: 1px dashed rgba(0,0,0,.4);
    width: 100%;
    padding: 190px 0 0 0;
    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    background: url(../images/icons/folder-upload.png) no-repeat center;
    filter: grayscale(100%);
  }
}

.jquery-script-center {
  width: 960px;
  margin: 0 auto;
  ul {
    width: 212px;
    float: left;
    line-height: 45px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
.text-center {
  text-align: center;
}
textarea {
  resize: none !important;
}
.btn {
  outline: none;
  padding: .5em 1em;
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}

.btn-register {
  background: $theme-deepblue;
  border-color: $theme-blue;
  color: $theme-white;
  &:hover {
    color: $theme-white !important;
    border-color: $theme-deepblue;
  }
}
.about-me {
  background: $off-white;
  h3 {
    @include font-raleway;
    font-size: 25px;
    color: $action-red;
    font-weight: bold;
    padding: 15px;
  }
}

.form-update {
  @include font-ubuntu;
  .form-control {
    border-radius: 0;
  }
}
@media (max-width: 768px) {
  .gallery-show {
    li {
      width: 89%;
      float: none;
    }
  }
}