@mixin font-raleway {
  font-family: 'Raleway', sans-serif;
}

@mixin font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
@mixin font-Montserrat {
  font-family: 'Montserrat', sans-serif;
}
@mixin font-Titillium {
  font-family: 'Titillium Web', sans-serif;
}